#znz-szignal {
  font-family: 'UnifrakturCook', serif;
  font-size: 3em;
  color: #f00;
  text-shadow: 2px 2px 0 #000;
  animation: szignalFlash 1s infinite alternate;
  margin-top: 2em;
}

@keyframes szignalFlash {
  from { opacity: 0.3; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1.05); }
}
